<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brain IQ</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="test1">Test Your Self</div>
      <div class="test2">Brush up Your skills</div>
      <div class="about">About</div>
    </nav>
    <div class="content">
      <div class="picture">
        <img class="image" src="../static/icons/brain.png" alt="" />
      </div>
      <p>
        This website is made to evaluate your IQ <br />You can know your
        responsiveness of execution <br />It is a demonstration plattform for
        testing your own
      </p>
    </div>
    <div class="copyright">&#169;Copyrighted by Brain IQ</div>
    <script src="../static/index.js"></script>
  </body>
</html>
